ErrorDocument 404 /not-found/index.html
AddType application/x-httpd-php .php .html
AddType application/xrds+xml .xrdf
RewriteEngine On

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*) https://%{SERVER_NAME}/$1 [R,L]

Options -Indexes
